body {
    margin: 20px auto;
    width: 100%;
    background-image: url('images/background.png');
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 20px;
}

.profile {
    border-radius: 20px;
}